// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #1c77ac; 
$btn-primary-color: #fff; 
$btn-primary-bg: $primary; 
$btn-primary-border: darken($primary, 10%);

$card-cap-bg: #1c77ac; 
$card-color: #1c77ac; 
$card-cap-color: #fff;  

.card {
    box-shadow: 3px 4px 8px #46464642;
}

$table-color: $primary;
$table-bg: #fff;
$table-accent-bg: transparent;
